.task{
    display: flex;
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
    >div{
        width: 100%;
        >span{
            color: rgb(94, 91, 91);
        }
    }
    button{
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: black;
        margin-top: 1rem;

        &:hover{
            background-color: crimson;
        }

        
    }
   
}